 

.masonry {
  // Mobile-first column count, we'll add responsive styles in a bit
  column-count: 1;
  column-gap: 20;
  column-fill: balance;
  margin: 20px auto 0;
  padding: 3%;
  display:block;

  .item { 
    margin:0 auto;
    display: inline-block;
    margin: 0 0 20px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    width: 100%;
    
    img {
      width: 100%;
      height: auto;
    }
  }

  // Add your media query breakpoints for when to expand the columns
  @media (min-width: 600px) {
    column-count: 1;
  }

  @media (min-width: 900px) {
    column-count: 2;
  }
  
  @media (min-width: 1200px) {
    column-count: 3;
  }
}

